body{

	background-color: lightblue;
}
div{
	float: left;
}
table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}
tr {
    border-bottom: 1px solid #cbcbcb;
}
th, td{
    border: none;
    height: 30px;
    padding: 2px;
}
#messi{
	
	margin-left: 195px;
	text-align: center;
}

#ronaldo{

      margin-left: 20px;
      text-align: center;
}

#johan{

      margin-left: 195px;
      text-align: center;
}

#ronaldinho{

      margin-left: 20px;
      text-align: center;
}

#becken{

      margin-left: 200px;
      text-align: center;
}